<div class="alert alert-danger" *ngIf="error">{{ error }}</div>
<div class="alert alert-success" *ngIf="success">{{ success }}</div>

<div id="Lista">
  <h2>Denmark Death Metal</h2>
  <form #f="ngForm" name="Lista" (submit)="addBand(f)">
    <div class="container">
      <label>Nome</label>
      <input
        type="text"
        class="form-control"
        name="nome"
        [(ngModel)]="band.nome"
        #bandNome="ngModel"
        required
        pattern="^[a-zA-Z ]+$"
      />
      <span
        class="help-block danger"
        *ngIf="bandNome.errors?.['required']&& bandNome.touched"
      >
        Informe o nome
      </span>
      <span
        class="help-block danger"
        *ngIf="bandNome.errors?.['required']&& bandNome.touched"
      >
        Informações inválidas
      </span>
    </div>
    <div class="container">
      <label>Formacao</label>
      <input
        type="number"
        class="form-control"
        name="formacao"
        [(ngModel)]="band.formacao"
        #bandFormacao="ngModel"
        required
      />
      <span class="form-text text danger">
        Necessário informar a formação
      </span>
    </div>
    <div *ngIf="band.country !== 'Denmark'"></div>
    <div class="container">
      <label>País</label>
      <input
        type="text"
        class="form-control"
        name="country"
        [(ngModel)]="band.country"
        #bandCountry="ngModel"
        required
        pattern="^[a-zA-Z ]+$"
      />
    </div>
    <div class="container">
      <label>Temas</label>
      <input
        type="text"
        class="form-control"
        name="lyrical_themes"
        [(ngModel)]="band.lyrical_themes"
        #bandTheme="ngModel"
        required
        pattern="^[a-zA-Z ]+$"
      />
      <span
        class="help-block danger"
        *ngIf="bandTheme.errors?.['required']&& bandTheme.touched"
      >
        Informe o nome
      </span>
      <span
        class="help-block danger"
        *ngIf="bandCountry.errors?.['required']&& bandCountry.touched"
      >
        Informações inválidas
      </span>
    </div>
    <button class="btn btn-primary btn-sm" [disabled]="f.invalid">
      Adicionar
    </button>
  </form>
</div>

<div id="theList">
  <h2>Lista de Bandas</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Nome</th>
      </tr>
    </thead>

    <tbody>
      <div *ngFor="let item of bands; let i = index" class="row">
        <th scope="row"></th>
        <td>
          <input
            type="text"
            [(ngModel)]="bands[i].nome"
            class="form-control"
            required
            patter="^[a-zA-Z]+$"
            #nome="ngModel"
            [ngClass]="{ 'is-invalid': nome.touched && nome.invalid }"
          />
        </td>
        <th scope="col">
          <input
            type="row"
            [(ngModel)]="bands[i].formacao"
            class="form-control"
            required
            patter="^[a-zA-Z]+$"
            #formacao="ngModel"
            [ngClass]="{ 'is-invalid': formacao.touched && formacao.invalid }"
          />
        </th>
        <th scope="col">
          <input
            type="row"
            [(ngModel)]="bands[i].country"
            class="form-control"
            required
            patter="^[a-zA-Z]+$"
            #country="ngModel"
            [ngClass]="{ 'is-ivalid': country.touched && country.invalid }"
          />
        </th>
        <th scope="row">
          <input
            type="text"
            [(ngModel)]="bands[i].lyrical_themes"
            class="form-control"
            required
            patter="^[a-zA-Z]+$"
            #lyrical_themes="ngModel"
            [ngClass]="{
              'is-ivalid': lyrical_themes.touched && lyrical_themes.invalid
            }"
          />
        </th>
        <th scope="row">
          <input
            type="button"
            value="Update"
            class="btn btn-primary btn-sm"
            [disabled]="nome.invalid || formacao.invalid || country.invalid"
            (click)="
              updateBands(nome, formacao, country, lyrical_themes, item.id)
            "
          />
        </th>

        <th scope="row">
          <input
            type="button"
            value="Delete"
            class="btn btn-danger btn-sm"
            (click)="deleteBands(item.id ? item.id : 0)"
          />
        </th>
      </div>
    </tbody>
  </table>
</div>
